<%- include('includes/head'); %> <%- include('includes/nav'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center my-3">Schedule</h1>
      <p class="text-center lead">Contacts above</p>

      <div class="responsive-table">
        <% if (list.length) {%>
        <table class="table my-3">
          <% list.forEach(item => { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.lastname %></td>
            <td><%= item.phone %></td>
            <td><%= item.email %></td>
            <td>
              <a href="/contact/<%=item._id %>">Edit</a>
            </td>
            <td>
              <a class="text-danger" href="/contact/delete/<%=item._id %>">Delete</a>
            </td>
          </tr>
          <% }) %>
        </table>
        <% } else { %> 
          <p> 
            <h5>Any contact was added</h5>  
          </p>  
        <% } %>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>
